html, body {
	margin: 0px;
	text-align: center;
	padding: 5px;
	font-family: Arial;
}

img {
	display: none;
}

.bell {
	display: inline;
	width: 30px;
}

#punny {
	background: -webkit-linear-gradient(#FF0000,#00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1, h2 {
	font-family: 'Snowburst One', cursive;
	margin: 0px;
}

h1 {
	font-size: 40px;
	padding-bottom: 10px;
}